/*Reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html,
body{
  height: 100%;
  font-family: "Ubuntu";
  background-color: rgb(125, 127, 130);
  color: aliceblue;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #584c58;
  min-width: 100%;
  z-index: 5;
  justify-content: space-between;
  border-radius: 5px;
}
.logo {
  margin: 0 50px 0 15px;
}
.logo img{
  border-radius: 50%;
  padding: 5px 5px;
}

.logo img:hover {
  position: relative;
  box-shadow: 0 4px 0 0 #000;
  top: -1px;
  transition: all 0.3s ease 0s;
}

.logo img:active {
  background-color: #ff3d00;
  box-shadow: 0 1px 0 0 #000;
  top: 0px;
  transition: all 0.2s ease 0s;
}

.menu {
  flex-grow: 1;
}
.menu ul{
  display: flex;
}
.menu li {
  margin-right: 30px;
  font-size: 22px;
}
.menu li span{
  color: #fff;
} 
.menu li:last-child {
  margin: 0;
}
.menu a {
  position: relative;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #000;
  border-radius: 80px;
  box-shadow: 0 1px 0 0 #000;
  transition: all 0.3s ease 0s;
}
.menu a:hover {
  background-color: #2b8c72;
  box-shadow: 0 4px 0 0 #000;
  top: -2px;
  transition: all 0.3s ease 0s;
}

.menu a:active {
  box-shadow: 0 1px 0 0 #000;
  top: 0px;
  transition: all 0.2s ease 0s;
}
.contacts {
  font-size: 20px;
  line-height: 24px;
  margin: 0 30px 0 0;
}
.contacts a {
  margin: 0 20px 0 0;
  padding: 0 10px;
  color: #383230;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 #000;
}
.contacts a:hover {
  background-color: #cac852;
  box-shadow: 0 4px 0 0 #000;
  top: -2px;
  transition: all 0.3s ease 0s;
}

.contacts a:active {
  box-shadow: 0 1px 0 0 #000;
  top: 0px;
  transition: all 0.2s ease 0s;
}


h1{
  font-size: 40px;
  text-align: center;
  margin: 100px 0 50px 0;
  color: #000;

}
.main {
  flex: 1 1 auto;
}
.main__header {
  text-align: center;
  font-size: 28px;
  margin: 0 0 20px 0;
}
.about__row {
  display: flex;
}

.about__img {
  flex: 0 0 33.333%;
  min-height: 400px;
  position: relative;
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  position: absolute;
}
.about__text {
  text-indent: 30px;
  margin: 0 30px;
  font-size: 18px;
  line-height: 26px;
}

.main__img {
  text-align: center;
  justify-content: center;
  margin: 75px 0 75px 0;
  padding: 0 25px;
}
.main__img img {
  max-width: 100%;
  border-radius: 25PX;
}
.main__battleship{
  font-size: 30px;
  color: #bb2c2c;
  text-align: center;
}
.footer {
  min-height: 30px;
  text-align: center;
  font-style: italic;
}

.flex__row {
  display: flex;
  margin: 50px -15px;
}
.flex__item {
  flex: 1 1 33.333%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.item__title {
  margin: 0 0 25px 0;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.item__text {
  margin: 0 0 25px 0;
  padding: 0 10px;
  flex: 1 1 auto;
}
.item__img {
  padding: 0 0 52% 0;
  overflow: hidden;
  position: relative;
}
.item__img:hover {
  box-shadow: 5px 5px 10px 10px #212b31;
  transition: all 0.5s ease 0s;
}
.item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0%;
  border: 3px solid #000;
}
.item__img img:hover{
  border: 6px solid #1e3763;
  transition: all 0.1s ease 0s;
}

